:root {
  --punchy-green: #00edc5;
  --punchy-yellow: #f4ff32;
  --modest-light-blue: #7fd8ff;
  --shy-red: #ff5e5b;
  --pale-pinky: #ffe2ef;
  --platinum-trophy: #e5e1ee;
  --undefined-grey: #fffcf2;
  --cool-bg-highlight: #c7ebf0;
}

body {
  min-height: 100vh;
  margin: 0;
}

.section-title {
  font-weight: bolder;
  font-size: 48px;
}

.container-grid {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-auto-rows: minmax(50vh, auto);
}

.sidebar-content-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 17;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 30%;
  text-align: center;
  margin-top: 8%;
  font-family: "Roboto Mono";
}

.skilLs {
  background-color: var(--punchy-green);
  grid-column-start: 2;
}

.personal-experience {
  background-color: var(--punchy-yellow);
  grid-column-start: 2;
}

.projects {
  background-color: var(--modest-light-blue);
  grid-column-start: 1;
  grid-column-end: 3;

  z-index: 2;
}

.blog {
  background-color: var(--pale-pinky);
  grid-column-start: 2;
}

.contact-me {
  background-color: var(--undefined-grey);
  grid-column-start: 2;
  height: 100vh;
}

.propic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.slogan {
  margin: 1em;
  font-weight: bold;
}

.highlight {
  background-color: var(--cool-bg-highlight);
  font-weight: bolder;
  margin: 3px;
}

.icon-container {
  text-align: center;
}

.icon-wrapper {
  font-size: 2em;
  margin: 3px;
  color: black;
}

.icon-wrapper:hover {
  cursor: pointer;
  color: var(--cool-bg-highlight);
}

.button-container {
  margin: 2em;
}

.btn-bg-color {
  color: white;
  background-color: black;
}

.btn-bg-color:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.05);
  box-shadow: 2px solid black;
}

.skill-progress-container {
  margin: 2em;
  padding: 2em;
}

.progress-wrapper {
  margin: 1em;
}

.progress-span-label {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 3px;
}

.personal-experience-container {
  margin: 2em;
  padding: 2em;
}

/* INIZIO STYLING TIMELINE */

.main-timeline {
  position: relative;
  overflow: hidden;
}
.main-timeline:before {
  content: "";
  width: 10px;
  height: 80%;
  border-right: 8px dotted #000;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}
.main-timeline .timeline {
  width: 50.1%;
  float: right;
  padding: 10px 100px 10px 50px;
  position: relative;
}
.main-timeline .timeline:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  border: 5px solid var(--punchy-green);
  box-shadow: 0 0 0 3px black;
  position: absolute;
  top: 25px;
  left: -13px;
}
.main-timeline .timeline-content {
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover {
  text-decoration: none;
}
.main-timeline .title {
  display: inline-block;
  padding: 8px 55px 8px 25px;
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  position: relative;
}
.main-timeline .title i {
  display: inline-block;
  font-size: 30px;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.main-timeline .description {
  padding: 0 15px;
  font-size: 15px;
  color: #000;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.main-timeline .timeline:nth-child(2n) {
  float: left;
  padding: 10px 50px 10px 100px;
}
.main-timeline .timeline:nth-child(2n):before {
  left: auto;
  right: -15px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content {
  text-align: right;
}
.main-timeline .timeline:nth-child(2n) .title {
  padding: 8px 25px 8px 60px;
  border-radius: 25px 25px 0 25px;
}
.main-timeline .timeline:nth-child(2n) .title i {
  right: auto;
  left: 15px;
}
.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .title {
}
.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .title {
}
.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .title {
}
@media only screen and (max-width: 1200px) {
  .main-timeline .title {
    font-size: 20px;
    padding-left: 10px;
  }
  .main-timeline .timeline:nth-child(2n) .title {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 990px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(2n) {
    padding: 10px 50px;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline:before {
    left: 20px;
  }
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even),
  .main-timeline .timeline:nth-child(odd) {
    width: 100%;
    float: none;
    padding: 10px 50px 10px 55px;
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:nth-child(2n):before {
    left: 5px;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    text-align: left;
  }
  .main-timeline .timeline:nth-child(2n) .title {
    padding: 8px 55px 8px 10px;
    border-radius: 25px 25px 25px 0;
  }
  .main-timeline .timeline:nth-child(2n) .title i {
    left: auto;
    right: 15px;
  }
}
@media only screen and (max-width: 479px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(2n) {
    padding: 10px 0 10px 55px;
  }
}

/* FINE STYLING TIMELINE */

.projects-container {
  padding: 2em;
  margin: 2em;
}

.blog-container {
  padding: 2em;
  margin: 2em;
}

.blog-image {
  height: 300px;
  width: 300px;
}

.contact-me-container {
  margin: 2em;
  padding: 2em;
}

.transparent-input {
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 800px) {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: 1fr;
  }

  .sidebar-content-grid {
    position: absolute;
    margin: 1.5em;
    padding: 2em;
    z-index: 2;
  }

  .slogan {
    margin-left: 50px;
  }

  .icon-container {
    display: flex;
    text-align: center;
    margin-left: 50px;
  }

  .icon-wrapper {
    font-size: 28px;
  }

  .button-container {
    text-align: center;
    margin-left: 50px;
  }

  .btn-bg-color {
    padding: 1em;
    margin: 1em;
  }

  .skilLs {
    margin-top: 950px;
  }
}
