.container-grid{
     display: grid;
     grid-template-columns: 0.3fr 0.7fr;
}

.sidebar-content-2{
     background-color: #FCFF6C;
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 17;
     position: fixed;
     z-index: -1;
     height: 100%;
     width: 30%;
}

.skilLs{
     background-color: #D7FFAB;
     grid-column-start: 2;
     height: 50vh;
}

.personal-experience{
     background-color: #96ADC8;
     grid-column-start: 2;
     height: 50vh;
}

.projects{
     background-color: #EFF7CF;
     grid-column-start: 1;
     grid-column-end: 3;
     height: 50vh;
}

.contact-me{
     background-color: #C7EBF0;
     grid-column-start: 2;
     height: 50vh;
}