:root{
     --punchy-green: #00EDC5;
     --punchy-yellow: #F4FF32;
     --modest-light-blue: #7FD8FF;
     --shy-red: #FF5E5B;
     --pale-pinky: #FFE2EF;
     --platinum-trophy: #E5E1EE;
     --undefined-grey: #FFFCF2;
     --cool-bg-highlight: #C7EBF0;
}

.container-grid{
     display: grid;
     grid-template-columns: 0.3fr 0.7fr;
}

.sidebar-content-grid{
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 17;
     position: fixed;
     z-index: -1;
     height: 100%;
     width: 30%;
     text-align: center;
     margin-top: 8%;
     font-family: 'Roboto Mono';
}

.skilLs{
     background-color: var(--punchy-green);
     grid-column-start: 2;
     height: 50vh;
}

.personal-experience{
     background-color: var(--punchy-yellow);
     grid-column-start: 2;
     height: 50vh;
}

.projects{
     background-color: var(--modest-light-blue);
     grid-column-start: 1;
     grid-column-end: 3;
     height: 50vh;
}

.blog{
     background-color: var(--pale-pinky);
     grid-column-start: 2;
     height: 50vh;
}

.contact-me{
     background-color: var(--undefined-grey);
     grid-column-start: 2;
     height: 50vh;
}

.propic{
     border-radius: 50%;
     height: 300px;
     width: 300px;
}

.slogan{
     margin: 1em;
     font-weight: bold;
}

.highlight{
     background-color: var(--cool-bg-highlight);
     font-weight: bolder;
     margin: 3px;
}

.icon-container{
     text-align: center;
}

.icon-wrapper {
     font-size: 2em;
     margin: 3px;
     color: black;
}

.icon-wrapper:hover{
     cursor: pointer;
}

.button-container{
     margin: 2em;
}

.btn-bg-color{
     color: white;
     background-color: black;
}

.btn-bg-color:hover{
     cursor: pointer;
}